.education {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
}

#school-name {
  grid-column: 1;
  grid-row: 2;
}

#school-title {
  grid-column: 2;
  grid-row: 2;
}

#school-start {
  grid-column: 1;
  grid-row: 3;
}

#school-end {
  grid-column: 2;
  grid-row: 3;
}

#delete-button {
  grid-column: 3;
  grid-row: 1;
  width: 30px;
  height: 30px;
  background-color: aqua;
  border: 1px solid black;
}
