#personal-data {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 130px 130px 130px 60px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#personal-data::after {
  content: '';
  border: 2px solid rgb(134, 9, 34);
  width: 500px;
  margin-left: 300px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

#picture {
  grid-column: 1;
  grid-row: 1/5;
  margin-left: 50px;
}

#picture > img {
  max-width: 400px;
  max-height: 400px;
}

#pname,
#pphone,
#pemail {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

#name {
  grid-column: 2;
  grid-row: 1;
}

#pname {
  font-size: 50px;
  font-weight: bold;
}

#phone {
  grid-column: 2;
  grid-row: 2;
}

#pphone {
  font-size: 35px;
  text-decoration: underline;
}

#email {
  grid-column: 2;
  grid-row: 3;
}

#pemail {
  font-size: 25px;
  text-decoration: underline;
}

#edit-submit-button {
  grid-column: 2;
  grid-row: 4;
}
