#personal-data {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 130px 130px 130px 60px;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid black;
}

#picture {
  grid-column: 1;
  grid-row: 1/5;
}

#picture > img {
  max-width: 400px;
  max-height: 400px;
}

#name {
  grid-column: 2;
  grid-row: 1;
}

#pname,
#pphone,
#pemail {
  font-size: 50px;
  text-align: center;
}

#phone {
  grid-column: 2;
  grid-row: 2;
}

#email {
  grid-column: 2;
  grid-row: 3;
}

#edit-submit-button {
  grid-column: 2;
  grid-row: 4;
}
